{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 120,
                "singleQuote": false
            }
        }
    ]
}
